.turquoise{
	background-color: darkturquoise;
}
.gray{
	background-color: lightgray;
}
.yellow{
	background-color: yellowgreen;
}
.inred{
	background-color: indianred;
}
.purple{
	background-color: mediumpurple;
}

.blue{
	background-color: royalblue;
}
.red{
	background-color: red;
}
.pink{
	background-color: pink;
}